<header class="site-header default-header sticky" role="banner">
  <div class="header-top">
    <div class="container">
      {% include 'header-top-all-brands' %}
    </div>
  </div>
  
  <div class="header-bottom">
    <div class="container">
      <div class="header-panel">
        <div class="row">
          <div class="nav-search on">{% include 'search-bar' %}</div>
        </div>

      </div>
    </div>
  </div>
  <script type='text/javascript'>
(function (d, t) {
  var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
  bh.type = 'text/javascript';
  bh.src = 'https://www.bugherd.com/sidebarv2.js?apikey=zwxvakjnbxvcxrg6qds4zq';
  s.parentNode.insertBefore(bh, s);
  })(document, 'script');
</script>
</header>